body {
    font-family: 'Segoe UI', sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.logo img {
    width: 120px;
}

.text-content {
    text-align: left;
}

.text-content h1 {
    margin: 0;
    font-size: 26px;
}

.text-content p {
    color: #777;
    margin: 4px 0 0;
}

form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 90%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.error {
    color: red;
    font-size: 13px;
}
.justificado {
    text-align: justify;
}
